* {
    border: none;
    border-radius: 0;
    font-family: "Cascadia Mono";
    font-size: 9px;
    min-height: 0;
    transition: none;
}

#waybar {
    background-color: #000000;
    color: #ffffff;
    padding: 2px 4px;
}

#pulseaudio,
#cpu,
#disk,
#memory,
#temperature,
#load,
#backlight,
#battery,
#clock,
#tray {
    padding: 0 4px;
    margin: 0 0;
    color: #ffffff;
}

#network {
    padding: 0 4px;
    margin: 0 1px;
    color: #00ec00;
}

#workspaces {
    margin: 0 3px;
}

#workspaces button {
    padding: 2px 5px;
    color: #ffffff;
    background: #333333;
    margin: 0 1px;
    transition: none;
}

#workspaces button.focused {
    background-color: #29445a;
    color: #FFFFFF;
}

#workspaces button.visible {
    color: #333333;
    color: #ffffff;
}

#workspaces button.urgent {
    background: #900000;
    color: #ffffff;
}

#workspaces button:hover {
    background: #3a6181;
    color:#ffffff;
}

#workspaces button:active {
    background-color: #29445a;
}
